<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('app_compte') }}">Compte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_gescompte_com') }}">Commande</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_gescompte_ad') }}">Adresse</a>
    </li>
</ul>